<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" th:href="@{/style.css}">
	<title>登入</title>
</head>
<body>
<section class="title-block">
	<span>會員登入</span>
</section>

<section class="form-block">
	<form class="login-form" id="loginFrom" th:object="${memberAccount}"
	      method="post" action="#" enctype="multipart/form-data" autocomplete="off">
		<section class="form-input-block">
			<div class="input-label">帳號/Email</div>
			<div class="input-area">
				<input type="text" th:field="*{account}" maxlength="60" placeholder="請輸入帳號..."/>
			</div>
		</section>
		<section class="form-input-block">
			<div class="input-label">密碼</div>
			<div class="input-area">
				<input type="password" th:field="*{password}" maxlength="16" placeholder="請輸入密碼"/>
			</div>
		</section>
		<button type="submit">登入</button>
		<section class="form-link">
			<span>不是會員？</span><a th:href="@{/register}">註冊</a>
		</section>

	</form>
</section>

</body>
</html>