<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<title>註冊</title>
	<head th:insert="load/js :: js"></head>
</head>
<body>
<section class="title-block">
	<span>註冊</span>
</section>
<section class="from-block">
	<form class="register-from" id="registerForm" th:object="${memberAccount}" method="post"
	      enctype="multipart/form-data" autocomplete="off">
		<section class="form-input-block">
			<div class="input-label">姓名</div>
			<div class="input-area">
				<input type="text" id="name" name="name" placeholder="請輸入姓名"/>
			</div>
		</section>

		<section class="form-input-block">
			<div class="input-label">帳號</div>
			<div class="input-area">
				<input type="text" th:field="*{account}" maxlength="60" placeholder="請輸入帳號"/>
			</div>
		</section>
		<section class=form-input-block>
			<div class="input-label">密碼</div>
			<div class="input-area">
				<input type="password" th:field="*{password}" maxlength="16" placeholder="請輸入密碼"/>
			</div>
		</section>

		<section class="from-input-block">
			<div class="input-label">確認密碼</div>
			<div class="input-area">
				<input type="password" id="checkPassword" name="checkPassword" maxlength="16"
				       placeholder="請再次輸入密碼"/>
			</div>
		</section>
		<button type="submit">註冊</button>
		<section class="from-link">
			<span>已有帳號?</span><a th:href="@{/login}">立即登入</a>
		</section>
	</form>
</section>

<script th:src="@{/js/register.js}"></script>

</body>
</html>